aiodns==2.0.0
aiohttp==3.7.4.post0
aiohttp-auth==0.1.1
aiohttp-basicauth==0.2.0
aiohttp-session==2.9.0
aiosmtplib==1.1.4
aiosqlite==0.17.0
appdirs==1.4.4
asgiref==3.3.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
basicauth==0.4.1
beautifulsoup4==4.9.3
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.2
distlib==0.3.1
Django==3.1.7
django-filter==2.4.0
django-rest-passwordreset==1.1.0
djangorestframework==3.12.2
drf-spectacular==0.14.0
filelock==3.0.12
fixture==1.5.11
Flask==1.1.2
Flask-HTTPAuth==4.2.0
gevent==21.1.2
greenlet==1.0.0
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
irc==19.0.1
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.2.1
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.0
Jinja2==2.11.3
jsonschema==3.2.0
konfig==1.1
loads==0.3
MarkupSafe==1.1.1
model-bakery==1.2.1
more-itertools==8.7.0
multidict==5.1.0
numpy==1.20.1
packaging==20.9
pandas==1.2.3
passlib==1.7.4
Pillow==8.1.2
pipenv==2020.11.15
pluggy==0.13.1
psutil==5.8.0
psycopg2-binary==2.8.6
py==1.10.0
pycares==3.1.1
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-django==4.1.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
six==1.15.0
soupsieve==2.2
SQLAlchemy==1.3.23
sqlparse==0.4.1
tempora==4.0.1
ticket-auth==0.1.4
toml==0.10.2
tqdm==4.59.0
typing-extensions==3.7.4.3
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
vk-api==11.9.1
waitress==2.0.0
WebOb==1.8.7
WebTest==2.0.35
Werkzeug==1.0.1
ws4py==0.5.1
WSGIProxy2==0.4.6
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
